/* Custom CSS for the sections */
.custom-text-color {
  color: #451818;
}

/* Custom CSS for the SVG image */
.logo-img {
  border-radius: 50%; /* Create a circular shape */
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
}
.description-section {
  color: #fff;
  padding: 50px 0;
  height: 100vh; /* Set height to 100% of viewport height */
}

.main-section {
  padding: 50px 0;
  height: 100vh; /* Set height to 100% of viewport height */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds viewport height */
}

.placeholder-section {
  padding: 50px 0;
  height: 100vh; /* Set height to 100% of viewport height */
}

.about-section {
  padding: 50px 0;
  height: 100vh; /* Set height to 100% of viewport height */
}

/* Custom CSS for the navbar */
.navbar {
  background-color: #425fb6 !important;
  padding: 10px 20px;
}

/* Custom CSS for the footer */
.footer {
  position: fixed;
  bottom: 0;
  background-color: #637A9F;
  height: 75px;
  width: 100%;
}

/* Custom CSS for the SVG background */
svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

/* Custom CSS for the links */
.links {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
  margin-left: 1em;
}

a:hover {
  text-decoration: underline;
}

a img.icon {
  display: inline-block;
  height: 1em;
  margin: 0 0 -0.1em 0.3em;
}
.card{
  flex-direction: row;
}
.card-body{
  height:600px;
  width:100px;
  margin:0px;
}
#steps{
  text-align: left;
  font-size: 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: italic;
}
/* Custom CSS for the navbar links */
.navbar-nav .nav-link {
  font-size: 18px; /* Increase font size */
  transition: color 0.3s; /* Add transition for smooth hover effect */
}

.navbar-nav .nav-link:hover {
  color: #ffc107; /* Change color on hover */
}
.roll-in-blurred-right {
	-webkit-animation: roll-in-blurred-right 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: roll-in-blurred-right 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
@-webkit-keyframes roll-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) rotate(720deg);
            transform: translateX(1000px) rotate(720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) rotate(720deg);
            transform: translateX(1000px) rotate(720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


